@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 22px;

}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: block;
    background-color: rgba(12, 12, 15, 0.521);
    border-radius: 10px;
    width: 80%;
    position: absolute;
    top: 40px;
    /* height: 100px; */

}


/* стили для верхнего меню */
nav .menu img {
    width: 60px;
    height: 70px;
}
nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu li {
    list-style: none; /* убрать точки */
    margin-right: 25px;
}

.menu-item {
    position: relative;
    cursor: pointer;
}

nav .submenu {
    display: none;
    position: absolute;
    top: 20px;
    left: 60px;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px;

}

nav .menu li:hover .submenu {
    display: block;
}



body {
    font-family: "Geologica", sans-serif;
}
p {
            color: rgb(59, 59, 85);
            font-size: 16px;
        }

a {
    color: rgb(0, 3, 41);
}

a:visited {
    color: rgb(0, 3, 41);
}

a:hover {
    text-decoration: none;
    color: brown;
}


.small-text {
    color: aquamarine;
    font-size: 10px;
    font-style: italic;
}

/* стили для карточки с пляжами */
.card {
    width: 270px;
    border: 0px solid black;

    padding-bottom: 10px;
    margin: 16px;

    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(158,158,158, 128);
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    
}

.card .card-text {
    margin: 10px;
}

.card:hover {
    box-shadow: 1px 1px 10px 4px rgba(158,158,158, 128);

    transform: translateY(-10px);
}

main {
    padding: 24px;
    text-align: justify;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.gallery-grid img {
    border-radius: 10px;
}

.footer {
    background-color: rgb(7, 4, 29);
    color: #ffffff;
    display: flex;
    position: absolute;
    width: 100%;
    padding: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}